<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.BreakActivityMapper">
    <resultMap id="ResultMap" type="com.zhzx.server.domain.BreakActivity" extends="com.zhzx.server.repository.base.BreakActivityBaseMapper.ResultMap">
        <result column="leaderName" jdbcType="VARCHAR" property="leaderName" />
    </resultMap>
    <!-- 根据主键查询 -->
    <select id="selectById" parameterType="java.io.Serializable" resultMap="ResultMap">
        select t.* ,
        (select ss.name from day_leader_duty dld
        left join sys_staff ss on ss.id = dld.leader_id where dld.id = t.leader_duty_id ) as leaderName
        from day_break_activity t where t.id = #{id}
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="selectOne" resultMap="com.zhzx.server.repository.base.BreakActivityBaseMapper.ResultMap">
        select * from day_break_activity ${ew.customSqlSegment} LIMIT 1
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="pageDetail" resultMap="ResultMap">
        select t.*,
        (select ss.name from day_leader_duty dld
        left join sys_staff ss on ss.id = dld.leader_id where dld.id = t.leader_duty_id ) as leaderName
        from day_break_activity t
        ${ew.customSqlSegment}
    </select>
</mapper>
