<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.BreakfastImagesMapper">
    <!-- 根据主键查询 -->
    <select id="selectById" parameterType="java.io.Serializable" resultMap="com.zhzx.server.repository.base.BreakfastImagesBaseMapper.ResultMap">
        select * from day_breakfast_images where id = #{id}
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="selectOne" resultMap="com.zhzx.server.repository.base.BreakfastImagesBaseMapper.ResultMap">
        select * from day_breakfast_images ${ew.customSqlSegment} LIMIT 1
    </select>
</mapper>
