<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.ExamGoalSubMapper">
    <!-- 根据主键查询 -->
    <select id="selectById" parameterType="java.io.Serializable" resultMap="com.zhzx.server.repository.base.ExamGoalSubBaseMapper.ResultMap">
        select * from dat_exam_goal_sub where id = #{id}
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="selectOne" resultMap="com.zhzx.server.repository.base.ExamGoalSubBaseMapper.ResultMap">
        select * from dat_exam_goal_sub ${ew.customSqlSegment} LIMIT 1
    </select>

    <select id="selectList" resultMap="com.zhzx.server.repository.base.ExamGoalSubBaseMapper.ResultMap">
        select * from dat_exam_goal_sub ${ew.customSqlSegment}
    </select>

    <select id="selectListSimple" resultMap="com.zhzx.server.repository.base.ExamGoalSubBaseMapper.BaseResultMap">
        select * from dat_exam_goal_sub ${ew.customSqlSegment}
    </select>

    <select id="selectPage" resultMap="com.zhzx.server.repository.base.ExamGoalSubBaseMapper.ResultMap">
        select * from dat_exam_goal_sub ${ew.customSqlSegment}
    </select>

    <insert id="batchInsert" keyProperty="id">
        insert into dat_exam_goal_sub (
        exam_id, subject_id, subject_type, type, goal_value, style_json
        )
        values
        <foreach collection="records" item="record" separator=",">
            (
            #{record.examId, jdbcType=BIGINT}, #{record.subjectId, jdbcType=BIGINT}, #{record.subjectType, jdbcType=VARCHAR}, #{record.type, jdbcType=VARCHAR}, #{record.goalValue, jdbcType=INTEGER}, #{record.styleJson, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

</mapper>
