<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.StaffMapper">
    <!-- 根据主键查询 -->
    <select id="selectById" parameterType="java.io.Serializable" resultMap="com.zhzx.server.repository.base.StaffBaseMapper.ResultMap">
        select * from sys_staff where id = #{id}
    </select>
    <!-- 返回简易的职工信息 -->
    <select id="selectByIdSimple" parameterType="java.io.Serializable" resultMap="com.zhzx.server.repository.base.StaffBaseMapper.BaseResultMap">
        select * from sys_staff where id = #{id}
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="selectOne" resultMap="com.zhzx.server.repository.base.StaffBaseMapper.ResultMap">
        select * from sys_staff ${ew.customSqlSegment} LIMIT 1
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="getListNoDuty" resultMap="com.zhzx.server.repository.base.StaffBaseMapper.BaseResultMap">
        select ss.* from sys_staff ss
        where ss.id not in (
            select
                distinct dtd.teacher_id
            from day_teacher_duty dtd
            where to_days(dtd.start_time) = to_days(#{time}) and dtd.duty_type = #{dutyType}
            and exists (select * from day_teacher_duty_clazz where teacher_duty_id=dtd.id)
        ) and ss.personnel_situation = 'TEACHER' and ss.is_delete = 'NO'
    </select>

    <resultMap id="ResultMap" type="com.zhzx.server.domain.Staff" extends="com.zhzx.server.repository.base.StaffBaseMapper.BaseResultMap">
        <collection column="id" property="staffLessonTeacherList" select="queryStaffLessonTeacherById" />
    </resultMap>

    <resultMap id="StaffExtraResultMap" type="com.zhzx.server.domain.StaffLessonTeacher" extends="com.zhzx.server.repository.base.StaffLessonTeacherBaseMapper.BaseResultMap">
        <result column="clazzName" property="clazzName" jdbcType="VARCHAR" />
        <result column="gradeName" property="gradeName" jdbcType="VARCHAR" />
        <result column="subjectName" property="subjectName" jdbcType="VARCHAR" />
    </resultMap>
    <select id="queryStaffLessonTeacherById" resultMap="StaffExtraResultMap">
        select
            b.name as clazzName,
            c.name as gradeName,
            d.name as subjectName
        from sys_staff_lesson_teacher a
        left join sys_clazz b on a.clazz_id=b.id
        left join sys_grade c on b.grade_id=c.id
        left join sys_subject d on a.subject_id=d.id
        where staff_id = #{id} and is_current='YES'
    </select>
    <select id="listSimpleFull" resultMap="ResultMap">
        select * from sys_staff ${ew.customSqlSegment}
    </select>
</mapper>
