<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.StudentClazzMapper">
    <!-- 根据主键查询 -->
    <select id="selectById" parameterType="java.io.Serializable" resultMap="com.zhzx.server.repository.base.StudentClazzBaseMapper.ResultMap">
        select * from sys_student_clazz where id = #{id}
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="selectOne" resultMap="com.zhzx.server.repository.base.StudentClazzBaseMapper.ResultMap">
        select * from sys_student_clazz ${ew.customSqlSegment} LIMIT 1
    </select>

    <!-- 根据Wrapper查询 -->
    <select id="selectPage" resultMap="com.zhzx.server.repository.base.StudentClazzBaseMapper.ResultMap">
        select * from sys_student_clazz ${ew.customSqlSegment}
    </select>
</mapper>
