<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.TeacherDutyClazzMapper">
    <!-- 根据主键查询 -->
    <select id="selectById" parameterType="java.io.Serializable"
            resultMap="com.zhzx.server.repository.base.TeacherDutyClazzBaseMapper.ResultMap">
        select *
        from day_teacher_duty_clazz
        where id = #{id}
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="selectOne" resultMap="com.zhzx.server.repository.base.TeacherDutyClazzBaseMapper.ResultMap">
        select *
        from day_teacher_duty_clazz ${ew.customSqlSegment} LIMIT 1
    </select>
    <!-- 根据Wrapper查询 -->
    <select id="selectList" resultMap="com.zhzx.server.repository.base.TeacherDutyClazzBaseMapper.ResultMap">
        select *
        from day_teacher_duty_clazz ${ew.customSqlSegment}
    </select>
    <update id="updateClazzId">
        update day_teacher_duty_clazz a, sys_clazz b set a.clazz_id=b.id
        where b.grade_id=#{gradeId}
        and concat(a.clazz_id,'班')=b.name
        and b.academic_year_semester_id = #{academicYearSemesterId}
        and a.id in
        <foreach item="item" collection="teacherDutyClazzIds" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="leaderConfirm">
        update day_teacher_duty_clazz a
        set a.is_leader_comfirm = 'YES'
        where a.teacher_duty_id = #{teacherDutyId}
    </update>
    <!-- 根据Wrapper查询 -->
    <select id="getTeacherDutyId" resultType="java.lang.Long">
        select dtd.id
        from day_teacher_duty_clazz t
                 left join day_teacher_duty dtd on t.teacher_duty_id = dtd.id
        where to_days(dtd.start_time) = to_days(#{time})
          and t.clazz_id = #{clazzId}
          and dtd.duty_type = #{dutyType}
    </select>
    <insert id="batchInsertWithId" keyColumn="id" keyProperty="id">
        insert into day_teacher_duty_clazz (
        teacher_duty_id, clazz_id, is_comfirm, is_leader_comfirm
        )
        values
        <foreach collection="records" item="record" separator=",">
            (
            #{record.teacherDutyId, jdbcType=BIGINT}, #{record.clazzId, jdbcType=BIGINT},
            #{record.isComfirm, jdbcType=VARCHAR}, #{record.isLeaderComfirm, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <update id="updateByClazzIds">
        UPDATE day_teacher_duty_clazz
        SET teacher_duty_id = #{newId}
        WHERE
        teacher_duty_id=#{oldId} AND
        clazz_id IN
        <foreach collection="clazzIds" item="clazzId" open="(" close=")" separator=",">
            #{clazzId}
        </foreach>
    </update>

    <update id="updateTeacherDutyClazzByClassId">
        UPDATE day_teacher_duty_clazz
        SET teacher_duty_id = #{teacherDutyId}
        WHERE clazz_id = #{classId} and id=#{id}
    </update>

</mapper>
