<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.ApplicationAppBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.ApplicationApp">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="hidden" jdbcType="VARCHAR" property="hidden" />
        <result column="hide_children" jdbcType="VARCHAR" property="hideChildren" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="sort_order" jdbcType="BIGINT" property="sortOrder" />
        <result column="editor_id" jdbcType="BIGINT" property="editorId" />
        <result column="editor_name" jdbcType="VARCHAR" property="editorName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.ApplicationApp" extends="BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        id, parent_id, type, name, code, path, hidden, hide_children, icon, sort_order, editor_id, editor_name, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.parent_id, t.type, t.name, t.code, t.path, t.hidden, t.hide_children, t.icon, t.sort_order, t.editor_id, t.editor_name, t.create_time, t.update_time
    </sql>
    <insert id="batchInsert">
        insert into sys_application_app (
            parent_id, type, name, code, path, hidden, hide_children, icon, sort_order, editor_id, editor_name
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.parentId, jdbcType=BIGINT}, #{record.type, jdbcType=VARCHAR}, #{record.name, jdbcType=VARCHAR}, #{record.code, jdbcType=VARCHAR}, #{record.path, jdbcType=VARCHAR}, #{record.hidden, jdbcType=VARCHAR}, #{record.hideChildren, jdbcType=VARCHAR}, #{record.icon, jdbcType=VARCHAR}, #{record.sortOrder, jdbcType=BIGINT}, #{record.editorId, jdbcType=BIGINT}, #{record.editorName, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.ApplicationApp">
        update sys_application_app set
        <trim suffixOverrides=",">
            parent_id = #{et.parentId, jdbcType=BIGINT},
            type = #{et.type, jdbcType=VARCHAR},
            name = #{et.name, jdbcType=VARCHAR},
            code = #{et.code, jdbcType=VARCHAR},
            path = #{et.path, jdbcType=VARCHAR},
            hidden = #{et.hidden, jdbcType=VARCHAR},
            hide_children = #{et.hideChildren, jdbcType=VARCHAR},
            icon = #{et.icon, jdbcType=VARCHAR},
            sort_order = #{et.sortOrder, jdbcType=BIGINT},
            editor_id = #{et.editorId, jdbcType=BIGINT},
            editor_name = #{et.editorName, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
