<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.ApplicationRoleAppBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.ApplicationRoleApp">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="application_app_id" jdbcType="BIGINT" property="applicationAppId" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.ApplicationRoleApp" extends="BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        id, role_id, application_app_id
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.role_id, t.application_app_id
    </sql>
    <insert id="batchInsert">
        insert into sys_application_role_app (
            role_id, application_app_id
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.roleId, jdbcType=BIGINT}, #{record.applicationAppId, jdbcType=BIGINT}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.ApplicationRoleApp">
        update sys_application_role_app set
        <trim suffixOverrides=",">
            role_id = #{et.roleId, jdbcType=BIGINT},
            application_app_id = #{et.applicationAppId, jdbcType=BIGINT},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
