<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.ClazzTeachingLogBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.ClazzTeachingLog">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="academic_year_semester_id" jdbcType="BIGINT" property="academicYearSemesterId" />
        <result column="week" jdbcType="INTEGER" property="week" />
        <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
        <result column="clazz_id" jdbcType="BIGINT" property="clazzId" />
        <result column="should_num" jdbcType="INTEGER" property="shouldNum" />
        <result column="actual_num" jdbcType="INTEGER" property="actualNum" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.ClazzTeachingLog" extends="BaseResultMap">
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <association column="academic_year_semester_id" property="academicYearSemester" javaType="com.zhzx.server.domain.AcademicYearSemester"
                     select="com.zhzx.server.repository.AcademicYearSemesterMapper.selectById" />
        <association column="clazz_id" property="clazz" javaType="com.zhzx.server.domain.Clazz"
                     select="com.zhzx.server.repository.ClazzMapper.selectById" />
        <collection column="id" property="clazzTeachingLogSubjectsList" select="queryClazzTeachingLogSubjectsById" />
        <collection column="id" property="clazzTeachingLogOperationList" select="queryClazzTeachingLogOperationById" />
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `academic_year_semester_id`, `week`, `register_date`, `clazz_id`, `should_num`, `actual_num`, `create_time`, `update_time`
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.`id`, t.`academic_year_semester_id`, t.`week`, t.`register_date`, t.`clazz_id`, t.`should_num`, t.`actual_num`, t.`create_time`, t.`update_time`
    </sql>
    <sql id="Base_Column_List_Full">
        `id`, `academic_year_semester_id`, `week`, `register_date`, `clazz_id`, `remark`, `should_num`, `actual_num`, `create_time`, `update_time`
    </sql>
    <sql id="Base_Column_List_Full_With_Prefix">
        t.`id`, t.`academic_year_semester_id`, t.`week`, t.`register_date`, t.`clazz_id`, t.`remark`, t.`should_num`, t.`actual_num`, t.`create_time`, t.`update_time`
    </sql>
    <select id="queryClazzTeachingLogSubjectsById" resultMap="com.zhzx.server.repository.base.ClazzTeachingLogSubjectsBaseMapper.BaseResultMap">
        select
            <include refid="com.zhzx.server.repository.base.ClazzTeachingLogSubjectsBaseMapper.Base_Column_List" />
        from std_clazz_teaching_log_subjects
        where clazz_teaching_log_id = #{id}
    </select>
    <select id="queryClazzTeachingLogOperationById" resultMap="com.zhzx.server.repository.base.ClazzTeachingLogOperationBaseMapper.BaseResultMap">
        select
            <include refid="com.zhzx.server.repository.base.ClazzTeachingLogOperationBaseMapper.Base_Column_List" />
        from std_clazz_teaching_log_operation
        where clazz_teaching_log_id = #{id}
    </select>
    <insert id="batchInsert">
        insert into std_clazz_teaching_log (
            `academic_year_semester_id`, `week`, `register_date`, `clazz_id`, `remark`, `should_num`, `actual_num`
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.academicYearSemesterId, jdbcType=BIGINT}, #{record.week, jdbcType=INTEGER}, #{record.registerDate, jdbcType=TIMESTAMP}, #{record.clazzId, jdbcType=BIGINT}, #{record.remark, jdbcType=VARCHAR}, #{record.shouldNum, jdbcType=INTEGER}, #{record.actualNum, jdbcType=INTEGER}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.ClazzTeachingLog">
        update std_clazz_teaching_log set
        <trim suffixOverrides=",">
            academic_year_semester_id = #{et.academicYearSemesterId, jdbcType=BIGINT},
            week = #{et.week, jdbcType=INTEGER},
            register_date = #{et.registerDate, jdbcType=TIMESTAMP},
            clazz_id = #{et.clazzId, jdbcType=BIGINT},
            remark = #{et.remark, jdbcType=VARCHAR},
            should_num = #{et.shouldNum, jdbcType=INTEGER},
            actual_num = #{et.actualNum, jdbcType=INTEGER},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
