<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.ClazzTeacherBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.ClazzTeacher">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="clazz_id" jdbcType="BIGINT" property="clazzId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="teacher" jdbcType="VARCHAR" property="teacher" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.ClazzTeacher" extends="BaseResultMap">
        <association column="clazz_id" property="clazz" javaType="com.zhzx.server.domain.Clazz"
                     select="com.zhzx.server.repository.ClazzMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, clazz_id, name, teacher, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.clazz_id, t.name, t.teacher, t.create_time, t.update_time
    </sql>
    <insert id="batchInsert">
        insert into sys_clazz_teacher (
            clazz_id, name, teacher
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.clazzId, jdbcType=BIGINT}, #{record.name, jdbcType=VARCHAR}, #{record.teacher, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.ClazzTeacher">
        update sys_clazz_teacher set
        <trim suffixOverrides=",">
            clazz_id = #{et.clazzId, jdbcType=BIGINT},
            name = #{et.name, jdbcType=VARCHAR},
            teacher = #{et.teacher, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
