<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.CourseBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.Course">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="academic_year_semester_id" jdbcType="BIGINT" property="academicYearSemesterId" />
        <result column="grade_id" jdbcType="BIGINT" property="gradeId" />
        <result column="week" jdbcType="INTEGER" property="week" />
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
        <result column="course_name" jdbcType="VARCHAR" property="courseName" />
        <result column="clazz_id" jdbcType="BIGINT" property="clazzId" />
        <result column="clazz_name" jdbcType="VARCHAR" property="clazzName" />
        <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
        <result column="editor_id" jdbcType="BIGINT" property="editorId" />
        <result column="editor_name" jdbcType="VARCHAR" property="editorName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.Course" extends="BaseResultMap">
        <association column="academic_year_semester_id" property="academicYearSemester" javaType="com.zhzx.server.domain.AcademicYearSemester"
                     select="com.zhzx.server.repository.AcademicYearSemesterMapper.selectById" />
        <association column="grade_id" property="grade" javaType="com.zhzx.server.domain.Grade"
                     select="com.zhzx.server.repository.GradeMapper.selectById" />
        <association column="clazz_id" property="clazz" javaType="com.zhzx.server.domain.Clazz"
                     select="com.zhzx.server.repository.ClazzMapper.selectById" />
        <association column="teacher_id" property="teacher" javaType="com.zhzx.server.domain.Staff"
                     select="com.zhzx.server.repository.StaffMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, academic_year_semester_id, grade_id, week, sort_order, course_name, clazz_id, clazz_name, teacher_id, teacher_name, editor_id, editor_name, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.academic_year_semester_id, t.grade_id, t.week, t.sort_order, t.course_name, t.clazz_id, t.clazz_name, t.teacher_id, t.teacher_name, t.editor_id, t.editor_name, t.create_time, t.update_time
    </sql>
    <insert id="batchInsert">
        insert into sys_course (
            academic_year_semester_id, grade_id, week, sort_order, course_name, clazz_id, clazz_name, teacher_id, teacher_name, editor_id, editor_name
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.academicYearSemesterId, jdbcType=BIGINT}, #{record.gradeId, jdbcType=BIGINT}, #{record.week, jdbcType=INTEGER}, #{record.sortOrder, jdbcType=INTEGER}, #{record.courseName, jdbcType=VARCHAR}, #{record.clazzId, jdbcType=BIGINT}, #{record.clazzName, jdbcType=VARCHAR}, #{record.teacherId, jdbcType=BIGINT}, #{record.teacherName, jdbcType=VARCHAR}, #{record.editorId, jdbcType=BIGINT}, #{record.editorName, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.Course">
        update sys_course set
        <trim suffixOverrides=",">
            academic_year_semester_id = #{et.academicYearSemesterId, jdbcType=BIGINT},
            grade_id = #{et.gradeId, jdbcType=BIGINT},
            week = #{et.week, jdbcType=INTEGER},
            sort_order = #{et.sortOrder, jdbcType=INTEGER},
            course_name = #{et.courseName, jdbcType=VARCHAR},
            clazz_id = #{et.clazzId, jdbcType=BIGINT},
            clazz_name = #{et.clazzName, jdbcType=VARCHAR},
            teacher_id = #{et.teacherId, jdbcType=BIGINT},
            teacher_name = #{et.teacherName, jdbcType=VARCHAR},
            editor_id = #{et.editorId, jdbcType=BIGINT},
            editor_name = #{et.editorName, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
