<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.DailyAttendanceBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.DailyAttendance">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="academic_year_semester_id" jdbcType="BIGINT" property="academicYearSemesterId" />
        <result column="week" jdbcType="INTEGER" property="week" />
        <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
        <result column="clazz_id" jdbcType="BIGINT" property="clazzId" />
        <result column="student_id" jdbcType="BIGINT" property="studentId" />
        <result column="classify" jdbcType="VARCHAR" property="classify" />
        <result column="reason" jdbcType="VARCHAR" property="reason" />
        <result column="academic_hour" jdbcType="INTEGER" property="academicHour" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.DailyAttendance" extends="BaseResultMap">
        <association column="academic_year_semester_id" property="academicYearSemester" javaType="com.zhzx.server.domain.AcademicYearSemester"
                     select="com.zhzx.server.repository.AcademicYearSemesterMapper.selectById" />
        <association column="clazz_id" property="clazz" javaType="com.zhzx.server.domain.Clazz"
                     select="com.zhzx.server.repository.ClazzMapper.selectById" />
        <association column="student_id" property="student" javaType="com.zhzx.server.domain.Student"
                     select="com.zhzx.server.repository.StudentMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `academic_year_semester_id`, `week`, `register_date`, `clazz_id`, `student_id`, `classify`, `reason`, `academic_hour`, `create_time`, `update_time`
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.`id`, t.`academic_year_semester_id`, t.`week`, t.`register_date`, t.`clazz_id`, t.`student_id`, t.`classify`, t.`reason`, t.`academic_hour`, t.`create_time`, t.`update_time`
    </sql>
    <insert id="batchInsert">
        insert into std_daily_attendance (
            `academic_year_semester_id`, `week`, `register_date`, `clazz_id`, `student_id`, `classify`, `reason`, `academic_hour`
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.academicYearSemesterId, jdbcType=BIGINT}, #{record.week, jdbcType=INTEGER}, #{record.registerDate, jdbcType=TIMESTAMP}, #{record.clazzId, jdbcType=BIGINT}, #{record.studentId, jdbcType=BIGINT}, #{record.classify, jdbcType=VARCHAR}, #{record.reason, jdbcType=VARCHAR}, #{record.academicHour, jdbcType=INTEGER}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.DailyAttendance">
        update std_daily_attendance set
        <trim suffixOverrides=",">
            academic_year_semester_id = #{et.academicYearSemesterId, jdbcType=BIGINT},
            week = #{et.week, jdbcType=INTEGER},
            register_date = #{et.registerDate, jdbcType=TIMESTAMP},
            clazz_id = #{et.clazzId, jdbcType=BIGINT},
            student_id = #{et.studentId, jdbcType=BIGINT},
            classify = #{et.classify, jdbcType=VARCHAR},
            reason = #{et.reason, jdbcType=VARCHAR},
            academic_hour = #{et.academicHour, jdbcType=INTEGER},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
