<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.ExamGoalTemplateSubBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.ExamGoalTemplateSub">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="exam_goal_template_id" jdbcType="BIGINT" property="examGoalTemplateId" />
        <result column="clazz_id" jdbcType="BIGINT" property="clazzId" />
        <result column="clazz_name" jdbcType="VARCHAR" property="clazzName" />
        <result column="subject_type" jdbcType="VARCHAR" property="subjectType" />
        <result column="goal_name" jdbcType="VARCHAR" property="goalName" />
        <result column="goal_value" jdbcType="INTEGER" property="goalValue" />
        <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.ExamGoalTemplateSub" extends="BaseResultMap">
        <association column="exam_goal_template_id" property="examGoalTemplate" javaType="com.zhzx.server.domain.ExamGoalTemplate"
                     select="com.zhzx.server.repository.ExamGoalTemplateMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, exam_goal_template_id, clazz_id, clazz_name, subject_type, goal_name, goal_value, sort_order, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.exam_goal_template_id, t.clazz_id, t.clazz_name, t.subject_type, t.goal_name, t.goal_value, t.sort_order, t.create_time, t.update_time
    </sql>
    <insert id="batchInsert">
        insert into dat_exam_goal_template_sub (
            exam_goal_template_id, clazz_id, clazz_name, subject_type, goal_name, goal_value, sort_order
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.examGoalTemplateId, jdbcType=BIGINT}, #{record.clazzId, jdbcType=BIGINT}, #{record.clazzName, jdbcType=VARCHAR}, #{record.subjectType, jdbcType=VARCHAR}, #{record.goalName, jdbcType=VARCHAR}, #{record.goalValue, jdbcType=INTEGER}, #{record.sortOrder, jdbcType=INTEGER}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.ExamGoalTemplateSub">
        update dat_exam_goal_template_sub set
        <trim suffixOverrides=",">
            exam_goal_template_id = #{et.examGoalTemplateId, jdbcType=BIGINT},
            clazz_id = #{et.clazzId, jdbcType=BIGINT},
            clazz_name = #{et.clazzName, jdbcType=VARCHAR},
            subject_type = #{et.subjectType, jdbcType=VARCHAR},
            goal_name = #{et.goalName, jdbcType=VARCHAR},
            goal_value = #{et.goalValue, jdbcType=INTEGER},
            sort_order = #{et.sortOrder, jdbcType=INTEGER},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
