<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.GradeBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.Grade">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="schoolyard_id" jdbcType="BIGINT" property="schoolyardId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="grade_leader" jdbcType="VARCHAR" property="gradeLeader" />
        <result column="team_leader" jdbcType="VARCHAR" property="teamLeader" />
        <result column="academy_ratio_a" jdbcType="BIGINT" property="academyRatioA" />
        <result column="academy_ratio_b" jdbcType="BIGINT" property="academyRatioB" />
        <result column="academy_ratio_c" jdbcType="BIGINT" property="academyRatioC" />
        <result column="academy_ratio_d" jdbcType="BIGINT" property="academyRatioD" />
        <result column="academy_ratio_e" jdbcType="BIGINT" property="academyRatioE" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.Grade" extends="BaseResultMap">
        <association column="schoolyard_id" property="schoolyard" javaType="com.zhzx.server.domain.Schoolyard"
                     select="com.zhzx.server.repository.SchoolyardMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, schoolyard_id, name, grade_leader, team_leader, academy_ratio_a, academy_ratio_b, academy_ratio_c, academy_ratio_d, academy_ratio_e, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.schoolyard_id, t.name, t.grade_leader, t.team_leader, t.academy_ratio_a, t.academy_ratio_b, t.academy_ratio_c, t.academy_ratio_d, t.academy_ratio_e, t.create_time, t.update_time
    </sql>
    <insert id="batchInsert">
        insert into sys_grade (
            schoolyard_id, name, grade_leader, team_leader, academy_ratio_a, academy_ratio_b, academy_ratio_c, academy_ratio_d, academy_ratio_e
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.schoolyardId, jdbcType=BIGINT}, #{record.name, jdbcType=VARCHAR}, #{record.gradeLeader, jdbcType=VARCHAR}, #{record.teamLeader, jdbcType=VARCHAR}, #{record.academyRatioA, jdbcType=BIGINT}, #{record.academyRatioB, jdbcType=BIGINT}, #{record.academyRatioC, jdbcType=BIGINT}, #{record.academyRatioD, jdbcType=BIGINT}, #{record.academyRatioE, jdbcType=BIGINT}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.Grade">
        update sys_grade set
        <trim suffixOverrides=",">
            schoolyard_id = #{et.schoolyardId, jdbcType=BIGINT},
            name = #{et.name, jdbcType=VARCHAR},
            grade_leader = #{et.gradeLeader, jdbcType=VARCHAR},
            team_leader = #{et.teamLeader, jdbcType=VARCHAR},
            academy_ratio_a = #{et.academyRatioA, jdbcType=BIGINT},
            academy_ratio_b = #{et.academyRatioB, jdbcType=BIGINT},
            academy_ratio_c = #{et.academyRatioC, jdbcType=BIGINT},
            academy_ratio_d = #{et.academyRatioD, jdbcType=BIGINT},
            academy_ratio_e = #{et.academyRatioE, jdbcType=BIGINT},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
