<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.IncidentBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.Incident">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="schoolyard_id" jdbcType="BIGINT" property="schoolyardId" />
        <result column="classify" jdbcType="VARCHAR" property="classify" />
        <result column="item_name" jdbcType="VARCHAR" property="itemName" />
        <result column="daily_routine_id" jdbcType="BIGINT" property="dailyRoutineId" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.Incident" extends="BaseResultMap">
        <association column="schoolyard_id" property="schoolyard" javaType="com.zhzx.server.domain.Schoolyard"
                     select="com.zhzx.server.repository.SchoolyardMapper.selectById" />
        <collection column="id" property="incidentImagesList" select="queryIncidentImagesById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, schoolyard_id, classify, item_name, daily_routine_id, content, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.schoolyard_id, t.classify, t.item_name, t.daily_routine_id, t.content, t.create_time, t.update_time
    </sql>
    <select id="queryIncidentImagesById" resultMap="com.zhzx.server.repository.base.IncidentImagesBaseMapper.BaseResultMap">
        select
        <include refid="com.zhzx.server.repository.base.IncidentImagesBaseMapper.Base_Column_List" />
        from day_incident_images
        where incident_id = #{id}
    </select>
    <insert id="batchInsert">
        insert into day_incident (
            schoolyard_id, classify, item_name, daily_routine_id, content
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.schoolyardId, jdbcType=BIGINT}, #{record.classify, jdbcType=VARCHAR}, #{record.itemName, jdbcType=VARCHAR}, #{record.dailyRoutineId, jdbcType=BIGINT}, #{record.content, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.Incident">
        update day_incident set
        <trim suffixOverrides=",">
            schoolyard_id = #{et.schoolyardId, jdbcType=BIGINT},
            classify = #{et.classify, jdbcType=VARCHAR},
            item_name = #{et.itemName, jdbcType=VARCHAR},
            daily_routine_id = #{et.dailyRoutineId, jdbcType=BIGINT},
            content = #{et.content, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
