<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.IncidentImagesBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.IncidentImages">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="incident_id" jdbcType="BIGINT" property="incidentId" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.IncidentImages" extends="BaseResultMap">
        <result column="url" jdbcType="VARCHAR" property="url" />
    </resultMap>
    <sql id="Base_Column_List">
        id, incident_id, url
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.incident_id, t.url
    </sql>
    <sql id="Base_Column_List_Full_With_Prefix">
        t.id, t.incident_id, t.url
    </sql>
    <insert id="batchInsert">
        insert into day_incident_images (
            incident_id, url
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.incidentId, jdbcType=BIGINT}, #{record.url, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.IncidentImages">
        update day_incident_images set
        <trim suffixOverrides=",">
            incident_id = #{et.incidentId, jdbcType=BIGINT},
            url = #{et.url, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
