<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.LunchImagesBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.LunchImages">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="lunch_id" jdbcType="BIGINT" property="lunchId" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.LunchImages" extends="BaseResultMap">
        <result column="url" jdbcType="VARCHAR" property="url" />
    </resultMap>
    <sql id="Base_Column_List">
        id, lunch_id, url
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.lunch_id, t.url
    </sql>
    <sql id="Base_Column_List_Full_With_Prefix">
        t.id, t.lunch_id, t.url
    </sql>
    <insert id="batchInsert">
        insert into day_lunch_images (
            lunch_id, url
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.lunchId, jdbcType=BIGINT}, #{record.url, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.LunchImages">
        update day_lunch_images set
        <trim suffixOverrides=",">
            lunch_id = #{et.lunchId, jdbcType=BIGINT},
            url = #{et.url, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
