<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.NightSportAreaImagesBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.NightSportAreaImages">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="sport_area_id" jdbcType="BIGINT" property="sportAreaId" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.NightSportAreaImages" extends="BaseResultMap">
        <result column="url" jdbcType="VARCHAR" property="url" />
    </resultMap>
    <sql id="Base_Column_List">
        id, sport_area_id, url
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.sport_area_id, t.url
    </sql>
    <sql id="Base_Column_List_Full_With_Prefix">
        t.id, t.sport_area_id, t.url
    </sql>
    <insert id="batchInsert">
        insert into day_night_sport_area_images (
            sport_area_id, url
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.sportAreaId, jdbcType=BIGINT}, #{record.url, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.NightSportAreaImages">
        update day_night_sport_area_images set
        <trim suffixOverrides=",">
            sport_area_id = #{et.sportAreaId, jdbcType=BIGINT},
            url = #{et.url, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
