<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.RoleBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.Role">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="editor_id" jdbcType="BIGINT" property="editorId" />
        <result column="editor_name" jdbcType="VARCHAR" property="editorName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.Role" extends="BaseResultMap">
        <collection column="id" property="authorityList" select="queryAuthorityById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, remark, editor_id, editor_name, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.name, t.remark, t.editor_id, t.editor_name, t.create_time, t.update_time
    </sql>
    <select id="queryAuthorityById" resultMap="com.zhzx.server.repository.base.AuthorityBaseMapper.BaseResultMap">
        select
        <include refid="com.zhzx.server.repository.base.AuthorityBaseMapper.Base_Column_List_With_Prefix" />
        from sys_authority t
        left join sys_role_authority jt
        on t.id = jt.authority_id
        where jt.role_id = #{id}
    </select>
    <insert id="batchInsert">
        insert into sys_role (
            name, remark, editor_id, editor_name
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.name, jdbcType=VARCHAR}, #{record.remark, jdbcType=VARCHAR}, #{record.editorId, jdbcType=BIGINT}, #{record.editorName, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.Role">
        update sys_role set
        <trim suffixOverrides=",">
            name = #{et.name, jdbcType=VARCHAR},
            remark = #{et.remark, jdbcType=VARCHAR},
            editor_id = #{et.editorId, jdbcType=BIGINT},
            editor_name = #{et.editorName, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
