<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.StaffMessageBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.StaffMessage">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="staff_id" jdbcType="BIGINT" property="staffId" />
        <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.StaffMessage" extends="BaseResultMap">
        <collection column="id" property="staffMessageReceiverRelationList" select="queryStaffMessageReceiverRelationById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, staff_id, staff_name, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.staff_id, t.staff_name, t.create_time, t.update_time
    </sql>
    <select id="queryStaffMessageReceiverRelationById" resultMap="com.zhzx.server.repository.base.StaffMessageReceiverRelationBaseMapper.BaseResultMap">
        select
        <include refid="com.zhzx.server.repository.base.StaffMessageReceiverRelationBaseMapper.Base_Column_List" />
        from sys_staff_message_receiver_relation
        where staff_message_id = #{id}
    </select>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.StaffMessage">
        update sys_staff_message set
        <trim suffixOverrides=",">
            staff_id = #{et.staffId, jdbcType=BIGINT},
            staff_name = #{et.staffName, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
