<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.StaffSubjectBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.StaffSubject">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="staff_id" jdbcType="BIGINT" property="staffId" />
        <result column="subject_id" jdbcType="BIGINT" property="subjectId" />
        <result column="is_current" jdbcType="VARCHAR" property="isCurrent" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.StaffSubject" extends="BaseResultMap">
        <association column="staff_id" property="staff" javaType="com.zhzx.server.domain.Staff"
                     select="com.zhzx.server.repository.StaffMapper.selectById" />
        <association column="subject_id" property="subject" javaType="com.zhzx.server.domain.Subject"
                     select="com.zhzx.server.repository.SubjectMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, staff_id, subject_id, is_current
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.staff_id, t.subject_id, t.is_current
    </sql>
    <insert id="batchInsert">
        insert into sys_staff_subject (
            staff_id, subject_id, is_current
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.staffId, jdbcType=BIGINT}, #{record.subjectId, jdbcType=BIGINT}, #{record.isCurrent, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.StaffSubject">
        update sys_staff_subject set
        <trim suffixOverrides=",">
            staff_id = #{et.staffId, jdbcType=BIGINT},
            subject_id = #{et.subjectId, jdbcType=BIGINT},
            is_current = #{et.isCurrent, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
