<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.SubjectBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.Subject">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="has_weight" jdbcType="VARCHAR" property="hasWeight" />
        <result column="is_main" jdbcType="VARCHAR" property="isMain" />
        <result column="max_score" jdbcType="BIGINT" property="maxScore" />
        <result column="subject_alias" jdbcType="VARCHAR" property="subjectAlias" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.Subject" extends="BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        id, name, has_weight, is_main, max_score, subject_alias, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.name, t.has_weight, t.is_main, t.max_score, t.subject_alias, t.create_time, t.update_time
    </sql>
    <insert id="batchInsert">
        insert into sys_subject (
            name, has_weight, is_main, max_score, subject_alias
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.name, jdbcType=VARCHAR}, #{record.hasWeight, jdbcType=VARCHAR}, #{record.isMain, jdbcType=VARCHAR}, #{record.maxScore, jdbcType=BIGINT}, #{record.subjectAlias, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.Subject">
        update sys_subject set
        <trim suffixOverrides=",">
            name = #{et.name, jdbcType=VARCHAR},
            has_weight = #{et.hasWeight, jdbcType=VARCHAR},
            is_main = #{et.isMain, jdbcType=VARCHAR},
            max_score = #{et.maxScore, jdbcType=BIGINT},
            subject_alias = #{et.subjectAlias, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
