<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.TeachingResultBjryBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.TeachingResultBjry">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="teaching_result_id" jdbcType="BIGINT" property="teachingResultId" />
        <result column="rych" jdbcType="VARCHAR" property="rych" />
        <result column="hjmc" jdbcType="VARCHAR" property="hjmc" />
        <result column="clazz_id" jdbcType="BIGINT" property="clazzId" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.TeachingResultBjry" extends="BaseResultMap">
        <association column="teaching_result_id" property="teachingResult" javaType="com.zhzx.server.domain.TeachingResult"
                     select="com.zhzx.server.repository.TeachingResultMapper.selectById" />
        <association column="clazz_id" property="clazz" javaType="com.zhzx.server.domain.Clazz"
                     select="com.zhzx.server.repository.ClazzMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, teaching_result_id, rych, hjmc, clazz_id
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.teaching_result_id, t.rych, t.hjmc, t.clazz_id
    </sql>
    <insert id="batchInsert">
        insert into tmg_teaching_result_bjry (
            teaching_result_id, rych, hjmc, clazz_id
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.teachingResultId, jdbcType=BIGINT}, #{record.rych, jdbcType=VARCHAR}, #{record.hjmc, jdbcType=VARCHAR}, #{record.clazzId, jdbcType=BIGINT}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.TeachingResultBjry">
        update tmg_teaching_result_bjry set
        <trim suffixOverrides=",">
            teaching_result_id = #{et.teachingResultId, jdbcType=BIGINT},
            rych = #{et.rych, jdbcType=VARCHAR},
            hjmc = #{et.hjmc, jdbcType=VARCHAR},
            clazz_id = #{et.clazzId, jdbcType=BIGINT},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
