<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.TeachingResultZdqnjsBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.TeachingResultZdqnjs">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="teaching_result_id" jdbcType="BIGINT" property="teachingResultId" />
        <result column="hjqk" jdbcType="VARCHAR" property="hjqk" />
        <result column="kssj" jdbcType="VARCHAR" property="kssj" />
        <result column="jssj" jdbcType="VARCHAR" property="jssj" />
        <result column="jsmc" jdbcType="VARCHAR" property="jsmc" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.TeachingResultZdqnjs" extends="BaseResultMap">
        <association column="teaching_result_id" property="teachingResult" javaType="com.zhzx.server.domain.TeachingResult"
                     select="com.zhzx.server.repository.TeachingResultMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, teaching_result_id, hjqk, kssj, jssj, jsmc
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.teaching_result_id, t.hjqk, t.kssj, t.jssj, t.jsmc
    </sql>
    <insert id="batchInsert">
        insert into tmg_teaching_result_zdqnjs (
            teaching_result_id, hjqk, kssj, jssj, jsmc
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.teachingResultId, jdbcType=BIGINT}, #{record.hjqk, jdbcType=VARCHAR}, #{record.kssj, jdbcType=VARCHAR}, #{record.jssj, jdbcType=VARCHAR}, #{record.jsmc, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.TeachingResultZdqnjs">
        update tmg_teaching_result_zdqnjs set
        <trim suffixOverrides=",">
            teaching_result_id = #{et.teachingResultId, jdbcType=BIGINT},
            hjqk = #{et.hjqk, jdbcType=VARCHAR},
            kssj = #{et.kssj, jdbcType=VARCHAR},
            jssj = #{et.jssj, jdbcType=VARCHAR},
            jsmc = #{et.jsmc, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
