<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.TeachingResultSfkksBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.TeachingResultSfkks">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="teaching_result_id" jdbcType="BIGINT" property="teachingResultId" />
        <result column="ktmc" jdbcType="VARCHAR" property="ktmc" />
        <result column="zzdw" jdbcType="VARCHAR" property="zzdw" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.TeachingResultSfkks" extends="BaseResultMap">
        <association column="teaching_result_id" property="teachingResult" javaType="com.zhzx.server.domain.TeachingResult"
                     select="com.zhzx.server.repository.TeachingResultMapper.selectById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, teaching_result_id, ktmc, zzdw
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.teaching_result_id, t.ktmc, t.zzdw
    </sql>
    <insert id="batchInsert">
        insert into tmg_teaching_result_sfkks (
            teaching_result_id, ktmc, zzdw
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.teachingResultId, jdbcType=BIGINT}, #{record.ktmc, jdbcType=VARCHAR}, #{record.zzdw, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.TeachingResultSfkks">
        update tmg_teaching_result_sfkks set
        <trim suffixOverrides=",">
            teaching_result_id = #{et.teachingResultId, jdbcType=BIGINT},
            ktmc = #{et.ktmc, jdbcType=VARCHAR},
            zzdw = #{et.zzdw, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
