<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhzx.server.repository.base.UserBaseMapper">
    <resultMap id="BaseResultMap" type="com.zhzx.server.domain.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="login_number" jdbcType="VARCHAR" property="loginNumber" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="staff_id" jdbcType="BIGINT" property="staffId" />
        <result column="student_id" jdbcType="BIGINT" property="studentId" />
        <result column="login_error_cnt" jdbcType="INTEGER" property="loginErrorCnt" />
        <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="ResultMap" type="com.zhzx.server.domain.User" extends="BaseResultMap">
        <association column="staff_id" property="staff" javaType="com.zhzx.server.domain.Staff"
                     select="com.zhzx.server.repository.StaffMapper.selectById" />
        <association column="student_id" property="student" javaType="com.zhzx.server.domain.Student"
                     select="com.zhzx.server.repository.StudentMapper.selectById" />
        <collection column="id" property="roleList" select="queryRoleById" />
    </resultMap>
    <sql id="Base_Column_List">
        id, username, login_number, password, real_name, avatar, staff_id, student_id, login_error_cnt, is_delete, create_time, update_time
    </sql>
    <sql id="Base_Column_List_With_Prefix">
        t.id, t.username, t.login_number, t.password, t.real_name, t.avatar, t.staff_id, t.student_id, t.login_error_cnt, t.is_delete, t.create_time, t.update_time
    </sql>
    <select id="queryRoleById" resultMap="com.zhzx.server.repository.base.RoleBaseMapper.ResultMap">
        select
        <include refid="com.zhzx.server.repository.base.RoleBaseMapper.Base_Column_List_With_Prefix" />
        from sys_role t
        left join sys_user_role jt
        on t.id = jt.role_id
        where jt.user_id = #{id}
    </select>
    <insert id="batchInsert">
        insert into sys_user (
            username, login_number, password, real_name, avatar, staff_id, student_id, is_delete
        )
        values
        <foreach collection="records" item="record" separator=",">
        (
            #{record.username, jdbcType=VARCHAR}, #{record.loginNumber, jdbcType=VARCHAR}, #{record.password, jdbcType=VARCHAR}, #{record.realName, jdbcType=VARCHAR}, #{record.avatar, jdbcType=VARCHAR}, #{record.staffId, jdbcType=BIGINT}, #{record.studentId, jdbcType=BIGINT}, #{record.isDelete, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
    <update id="updateAllFieldsById" parameterType="com.zhzx.server.domain.User">
        update sys_user set
        <trim suffixOverrides=",">
            username = #{et.username, jdbcType=VARCHAR},
            login_number = #{et.loginNumber, jdbcType=VARCHAR},
            password = #{et.password, jdbcType=VARCHAR},
            login_error_cnt = #{et.loginErrorCnt, jdbcType=INTEGER},
            real_name = #{et.realName, jdbcType=VARCHAR},
            avatar = #{et.avatar, jdbcType=VARCHAR},
            staff_id = #{et.staffId, jdbcType=BIGINT},
            student_id = #{et.studentId, jdbcType=BIGINT},
            is_delete = #{et.isDelete, jdbcType=VARCHAR},
        </trim>
        where id = #{et.id}
    </update>
</mapper>
